# Puzzle 1

Sarah brought over one of the cashiers. She said, “Joe here says that one of our customers is a skilled private investigator.”

Joe nodded, “They came in awhile ago and showed me their business card, and that’s what it said. Skilled Private Investigator. And their phone number was their last name spelled out. I didn’t know what that meant, but apparently before there were smartphones, people had to remember phone numbers or write them down. If you wanted a phone number that was easy-to-remember, you could get a number that spelled something using the letters printed on the phone buttons: like 2 has “ABC”, and 3 “DEF”, etc. And I guess this person had done that, so if you dialed the numbers corresponding to the letters in their name, it would call their phone number!

“I thought that was pretty cool. But I don’t remember their name, or anything else about them for that matter. I couldn’t even tell you if they were male or female.”

Sarah said, “This person seems like they are clever and skilled at investigation. I’d like to hire them to help me find Noah’s rug before the Hanukkah dinner. I don’t know how to contact them, but apparently they shop here at Noah’s Market.”

She nodded at the USB drive in your hand.

“Can you find this private investigator’s phone number?”

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import os
from nameparser import HumanName

In [2]:
dir = "/Users/jattenberg/Downloads/noahs-csv/"
os.listdir(dir)

['noahs-orders.csv',
 'noahs-products.csv',
 'noahs-orders_items.csv',
 'noahs-customers.csv']

In [3]:
customers = pd.read_csv(dir+"noahs-customers.csv")
customers

,customerid,name,address,citystatezip,birthdate,phone
0,1001,Jack Quinn,201 E Park St,"Los Angeles, CA 91343",1960-05-14,805-287-8515
1,1002,David Powell,224C Tysens Ln,"Staten Island, NY 10306",1978-04-04,516-768-1652
2,1003,Carrie Green,1608 W 53rd Way,"Tampa, FL 33614",1969-01-21,727-209-0470
3,1004,Steven Miller,178½ E 7th St,"Manhattan, NY 10009",1953-08-17,607-941-9563
4,1005,Christine Powers,270 W 242nd St,"Bronx, NY 10463",1983-06-06,212-759-9043
...,...,...,...,...,...,...
11075,12075,Catherine Wells,693 E 101st St,"Brooklyn, NY 11236",1972-07-06,716-656-2836
11076,12076,Kevin Cooper,360 Edgecombe Ave,"Manhattan, NY 10031",1994-07-22,315-496-6981
11077,12077,Darius Johnson,2247 Grand Ave,"Bronx, NY 10453",1989-06-18,716-797-4450
11078,12078,Ryan Jones,1538 Park Pl SW,"Los Angeles, CA 90016",1949-03-12,415-584-2656
11079,12079,Gregory Weiss,113 Mackenzie St,"Brooklyn, NY 11235",1990-08-27,516-736-1869

In [4]:
customers["last_name"] = customers.name.apply(lambda x: HumanName(x).last.lower())
customers["digits"] = customers.phone.apply(lambda x: "".join(x.split("-")[-3:]))
customers

,customerid,name,address,citystatezip,birthdate,phone,last_name,digits
0,1001,Jack Quinn,201 E Park St,"Los Angeles, CA 91343",1960-05-14,805-287-8515,quinn,8052878515
1,1002,David Powell,224C Tysens Ln,"Staten Island, NY 10306",1978-04-04,516-768-1652,powell,5167681652
2,1003,Carrie Green,1608 W 53rd Way,"Tampa, FL 33614",1969-01-21,727-209-0470,green,7272090470
3,1004,Steven Miller,178½ E 7th St,"Manhattan, NY 10009",1953-08-17,607-941-9563,miller,6079419563
4,1005,Christine Powers,270 W 242nd St,"Bronx, NY 10463",1983-06-06,212-759-9043,powers,2127599043
...,...,...,...,...,...,...,...,...
11075,12075,Catherine Wells,693 E 101st St,"Brooklyn, NY 11236",1972-07-06,716-656-2836,wells,7166562836
11076,12076,Kevin Cooper,360 Edgecombe Ave,"Manhattan, NY 10031",1994-07-22,315-496-6981,cooper,3154966981
11077,12077,Darius Johnson,2247 Grand Ave,"Bronx, NY 10453",1989-06-18,716-797-4450,johnson,7167974450
11078,12078,Ryan Jones,1538 Park Pl SW,"Los Angeles, CA 90016",1949-03-12,415-584-2656,jones,4155842656
11079,12079,Gregory Weiss,113 Mackenzie St,"Brooklyn, NY 11235",1990-08-27,516-736-1869,weiss,5167361869

In [5]:
keypad = {
    2: ["A", "B", "C"],
    3: ["D", "E", "F"],
    4: ["G", "H", "I"],
    5: ["J", "K", "L"],
    6: ["M", "N", "O"],
    7: ["P", "Q", "R", "S"],
    8: ["T", "U", "V"],
    9: ["W", "X", "Y", "Z"],
}
letter_mapping = dict((n.lower(), str(k)) for k,ns in keypad.items() for n in ns)

def number_to_strings(s):
    "the number is actually a string"
    return "_".join(",".join(keypad.get(int(x), ["$"])) for x in s)

def string_to_number(s):
    return "".join([letter_mapping[x] for x in s])

customers["name_as_num"] = customers.last_name.apply(string_to_number)
customers

,customerid,name,address,citystatezip,birthdate,phone,last_name,digits,name_as_num
0,1001,Jack Quinn,201 E Park St,"Los Angeles, CA 91343",1960-05-14,805-287-8515,quinn,8052878515,78466
1,1002,David Powell,224C Tysens Ln,"Staten Island, NY 10306",1978-04-04,516-768-1652,powell,5167681652,769355
2,1003,Carrie Green,1608 W 53rd Way,"Tampa, FL 33614",1969-01-21,727-209-0470,green,7272090470,47336
3,1004,Steven Miller,178½ E 7th St,"Manhattan, NY 10009",1953-08-17,607-941-9563,miller,6079419563,645537
4,1005,Christine Powers,270 W 242nd St,"Bronx, NY 10463",1983-06-06,212-759-9043,powers,2127599043,769377
...,...,...,...,...,...,...,...,...,...
11075,12075,Catherine Wells,693 E 101st St,"Brooklyn, NY 11236",1972-07-06,716-656-2836,wells,7166562836,93557
11076,12076,Kevin Cooper,360 Edgecombe Ave,"Manhattan, NY 10031",1994-07-22,315-496-6981,cooper,3154966981,266737
11077,12077,Darius Johnson,2247 Grand Ave,"Bronx, NY 10453",1989-06-18,716-797-4450,johnson,7167974450,5646766
11078,12078,Ryan Jones,1538 Park Pl SW,"Los Angeles, CA 90016",1949-03-12,415-584-2656,jones,4155842656,56637
11079,12079,Gregory Weiss,113 Mackenzie St,"Brooklyn, NY 11235",1990-08-27,516-736-1869,weiss,5167361869,93477

## What are the cases where the number-mapped last name matches the last 4 of the phone number?

In [6]:
def numbers_match(r):
    return r.digits == r.name_as_num
customers[customers.apply(numbers_match, axis=1)]

,customerid,name,address,citystatezip,birthdate,phone,last_name,digits,name_as_num
2187,3188,Sam Guttenberg,221 Banker St,"Brooklyn, NY 11222",1998-05-30,488-836-2374,guttenberg,4888362374,4888362374