# Puzzle 1

Sarah brought over one of the cashiers. She said, “Joe here says that one of our customers is a skilled private investigator.”

Joe nodded, “They came in awhile ago and showed me their business card, and that’s what it said. Skilled Private Investigator. And their phone number was their last name spelled out. I didn’t know what that meant, but apparently before there were smartphones, people had to remember phone numbers or write them down. If you wanted a phone number that was easy-to-remember, you could get a number that spelled something using the letters printed on the phone buttons: like 2 has “ABC”, and 3 “DEF”, etc. And I guess this person had done that, so if you dialed the numbers corresponding to the letters in their name, it would call their phone number!

“I thought that was pretty cool. But I don’t remember their name, or anything else about them for that matter. I couldn’t even tell you if they were male or female.”

Sarah said, “This person seems like they are clever and skilled at investigation. I’d like to hire them to help me find Noah’s rug before the Hanukkah dinner. I don’t know how to contact them, but apparently they shop here at Noah’s Market.”

She nodded at the USB drive in your hand.

“Can you find this private investigator’s phone number?”

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import os
from nameparser import HumanName

In [2]:
dir = "/Users/jattenberg/Downloads/noahs-csv/"
os.listdir(dir)

['noahs-orders.csv',
 'noahs-products.csv',
 'noahs-orders_items.csv',
 'noahs-customers.csv']

In [3]:
customers = pd.read_csv(dir+"noahs-customers.csv")
customers

,customerid,name,address,citystatezip,birthdate,phone
0,1001,Jack Quinn,201 E Park St,"Los Angeles, CA 91343",1960-05-14,805-287-8515
1,1002,David Powell,224C Tysens Ln,"Staten Island, NY 10306",1978-04-04,516-768-1652
2,1003,Carrie Green,1608 W 53rd Way,"Tampa, FL 33614",1969-01-21,727-209-0470
3,1004,Steven Miller,178½ E 7th St,"Manhattan, NY 10009",1953-08-17,607-941-9563
4,1005,Christine Powers,270 W 242nd St,"Bronx, NY 10463",1983-06-06,212-759-9043
...,...,...,...,...,...,...
11075,12075,Catherine Wells,693 E 101st St,"Brooklyn, NY 11236",1972-07-06,716-656-2836
11076,12076,Kevin Cooper,360 Edgecombe Ave,"Manhattan, NY 10031",1994-07-22,315-496-6981
11077,12077,Darius Johnson,2247 Grand Ave,"Bronx, NY 10453",1989-06-18,716-797-4450
11078,12078,Ryan Jones,1538 Park Pl SW,"Los Angeles, CA 90016",1949-03-12,415-584-2656
11079,12079,Gregory Weiss,113 Mackenzie St,"Brooklyn, NY 11235",1990-08-27,516-736-1869

In [4]:
customers["last_name"] = customers.name.apply(lambda x: HumanName(x).last.lower())
customers["digits"] = customers.phone.apply(lambda x: x.split("-")[-1])
customers

,customerid,name,address,citystatezip,birthdate,phone,last_name,digits
0,1001,Jack Quinn,201 E Park St,"Los Angeles, CA 91343",1960-05-14,805-287-8515,quinn,8515
1,1002,David Powell,224C Tysens Ln,"Staten Island, NY 10306",1978-04-04,516-768-1652,powell,1652
2,1003,Carrie Green,1608 W 53rd Way,"Tampa, FL 33614",1969-01-21,727-209-0470,green,0470
3,1004,Steven Miller,178½ E 7th St,"Manhattan, NY 10009",1953-08-17,607-941-9563,miller,9563
4,1005,Christine Powers,270 W 242nd St,"Bronx, NY 10463",1983-06-06,212-759-9043,powers,9043
...,...,...,...,...,...,...,...,...
11075,12075,Catherine Wells,693 E 101st St,"Brooklyn, NY 11236",1972-07-06,716-656-2836,wells,2836
11076,12076,Kevin Cooper,360 Edgecombe Ave,"Manhattan, NY 10031",1994-07-22,315-496-6981,cooper,6981
11077,12077,Darius Johnson,2247 Grand Ave,"Bronx, NY 10453",1989-06-18,716-797-4450,johnson,4450
11078,12078,Ryan Jones,1538 Park Pl SW,"Los Angeles, CA 90016",1949-03-12,415-584-2656,jones,2656
11079,12079,Gregory Weiss,113 Mackenzie St,"Brooklyn, NY 11235",1990-08-27,516-736-1869,weiss,1869

In [40]:
keypad = {
    2: ["A", "B", "C"],
    3: ["D", "E", "F"],
    4: ["G", "H", "I"],
    5: ["J", "K", "L"],
    6: ["M", "N", "O"],
    7: ["P", "Q", "R", "S"],
    8: ["T", "U", "V"],
    9: ["W", "X", "Y", "Z"],
}
letter_mapping = dict((n.lower(), str(k)) for k,ns in keypad.items() for n in ns)

def number_to_strings(s):
    "the number is actually a string"
    return "_".join(",".join(keypad.get(int(x), ["$"])) for x in s)

def string_to_number(s):
    return "".join([letter_mapping[x] for x in s])

customers["name_as_num"] = customers.last_name.apply(string_to_number)
customers

,customerid,name,address,citystatezip,birthdate,phone,last_name,digits,name_as_num
0,1001,Jack Quinn,201 E Park St,"Los Angeles, CA 91343",1960-05-14,805-287-8515,quinn,8515,78466
1,1002,David Powell,224C Tysens Ln,"Staten Island, NY 10306",1978-04-04,516-768-1652,powell,1652,769355
2,1003,Carrie Green,1608 W 53rd Way,"Tampa, FL 33614",1969-01-21,727-209-0470,green,0470,47336
3,1004,Steven Miller,178½ E 7th St,"Manhattan, NY 10009",1953-08-17,607-941-9563,miller,9563,645537
4,1005,Christine Powers,270 W 242nd St,"Bronx, NY 10463",1983-06-06,212-759-9043,powers,9043,769377
...,...,...,...,...,...,...,...,...,...
11075,12075,Catherine Wells,693 E 101st St,"Brooklyn, NY 11236",1972-07-06,716-656-2836,wells,2836,93557
11076,12076,Kevin Cooper,360 Edgecombe Ave,"Manhattan, NY 10031",1994-07-22,315-496-6981,cooper,6981,266737
11077,12077,Darius Johnson,2247 Grand Ave,"Bronx, NY 10453",1989-06-18,716-797-4450,johnson,4450,5646766
11078,12078,Ryan Jones,1538 Park Pl SW,"Los Angeles, CA 90016",1949-03-12,415-584-2656,jones,2656,56637
11079,12079,Gregory Weiss,113 Mackenzie St,"Brooklyn, NY 11235",1990-08-27,516-736-1869,weiss,1869,93477

## What are the cases where the number-mapped last name matches the last 4 of the phone number?

In [53]:
def numbers_match(r):
    return r.digits == r.name_as_num
customers[customers.apply(numbers_match, axis=1)]

Empty DataFrame
Columns: [customerid, name, address, citystatezip, birthdate, phone, last_name, digits, name_as_num]
Index: []

In [54]:
wat

NameError: name 'wat' is not defined

In [44]:
def filter_fn(r):
    return len(r.last_name) == 4

short_names = customers[customers.apply(filter_fn, axis=1)]
short_names

,customerid,name,address,citystatezip,birthdate,phone,last_name,digits,name_as_num
12,1013,Gabriella Cook,663 Park Rd SE,"Lena, IL 61048",1986-05-15,773-470-6130,cook,6130,2665
13,1014,Daniel Rios,76-2 157th Ave,"Howard Beach, NY 11414",1955-09-01,646-289-1670,rios,1670,7467
34,1035,Brett Bell,365 E 204th St,"Bronx, NY 10467",1988-10-08,516-389-2123,bell,2123,2355
53,1054,Justin Cobb,703 Chester St,"Brooklyn, NY 11236",1949-10-04,516-348-7788,cobb,7788,2622
57,1058,Mario Ford,2354B Jerome Ave,"Bronx, NY 10468",1987-08-01,212-366-7209,ford,7209,3673
...,...,...,...,...,...,...,...,...,...
11035,12035,Jessica Kimberly Mann,264 Central Park W,"Manhattan, NY 10024",1965-07-22,315-215-2639,mann,2639,6266
11042,12042,Kristopher Bell,1554 S Dogwood Ln,"Forest Park, GA 30294",2000-09-11,678-263-6000,bell,6000,2355
11048,12048,Jason Reed,51-43 98th Pl,"Corona, NY 11368",1957-06-01,315-276-7623,reed,7623,7333
11049,12049,Vanessa Rice,427A Amsterdam Ave,"Manhattan, NY 10024",1959-04-22,929-477-6401,rice,6401,7423
11057,12057,Megan Pope,69B Himrod St,"Brooklyn, NY 11221",1992-09-22,631-605-3792,pope,3792,7673

In [51]:
def cardinality_matches(r):
    return len(set(r.digits)) == len(set(r.last_name))

def no_forbidden_numbers(r):
    return not "0" in r.digits and not "1" in r.digits

card = short_names[short_names.apply(cardinality_matches, axis=1) &
                  short_names.apply(no_forbidden_numbers, axis=1)]
card

,customerid,name,address,citystatezip,birthdate,phone,last_name,digits,name_as_num
195,1196,Dennis Levy,110-53 42nd Ave,"Corona, NY 11368",1975-12-08,585-493-5684,levy,5684,5389
199,1200,Sara Love,3988 W Lee St,"Bull Run, VA 20109",1961-04-19,434-405-4623,love,4623,5683
267,1268,Joseph Bass,204 W 88th St,"Manhattan, NY 10024",1982-10-13,516-300-7622,bass,7622,2277
321,1322,Holly Rachel Shah,1851 Oak Rd NW,"El Paso de Robles, CA 93446",1955-07-17,650-941-6856,shah,6856,7424
419,1420,Monique Gray,81-28 91st Ave,"Richmond Hill, NY 11418",1960-08-06,212-499-9862,gray,9862,4729
...,...,...,...,...,...,...,...,...,...
10682,11682,Donna Hall,2319 Park Rd S,"Columbia, SC 29208",1979-06-30,803-796-7679,hall,7679,4255
10734,11734,Stephanie Ann Nash,142-5 129th St,"South Ozone Park, NY 11420",1993-06-15,631-651-3764,nash,3764,6274
10841,11841,Kristy Chelsea Shaw,88-64 Vanderveer St,"Queens Village, NY 11427",1984-03-19,631-555-8679,shaw,8679,7429
10929,11929,Nick Boyd Jr.,136-59 180th St,"Jamaica, NY 11434",1982-12-24,315-883-8476,boyd,8476,2693
11029,12029,Nathan Hall,115-12 Queens Blvd,"Forest Hills, NY 11375",1942-03-04,838-685-2535,hall,2535,4255

In [52]:
def first_letter_matches(r):
    return string_to_number(r.last_name[0]) == r.digits[0]
first_let = card[card.apply(first_letter_matches, axis=1)]
first_let

,customerid,name,address,citystatezip,birthdate,phone,last_name,digits,name_as_num
195,1196,Dennis Levy,110-53 42nd Ave,"Corona, NY 11368",1975-12-08,585-493-5684,levy,5684,5389
753,1754,Jennifer Diaz,135B Rogers Ave,"Brooklyn, NY 11216",1982-05-20,838-499-3728,diaz,3728,3429
860,1861,Gina Ruiz,4996 N 5th Ave,"St. Louis, MO 63103",1970-09-22,557-729-7529,ruiz,7529,7849
1237,2238,Joshua Ward,2386 56th Dr,"Brooklyn, NY 11234",1982-01-02,838-870-9284,ward,9284,9273
1798,2799,Chase Boyd Jr.,2099 Hickory St E,"Chicago, IL 60616",1992-09-01,847-558-2376,boyd,2376,2693
2184,3185,Pamela Pope,240B Malcolm X Blvd,"Brooklyn, NY 11233",1989-11-09,516-328-7553,pope,7553,7673
2350,3351,Jason Hall,962B Rev James A Polite Ave,"Bronx, NY 10459",1993-02-09,585-515-4485,hall,4485,4255
4715,5716,Jose Hunt,250 E 204th St,"Bronx, NY 10458",1971-01-18,845-827-4628,hunt,4628,4868
5116,6117,Michael Chan,111-6 211th St,"Queens Village, NY 11429",1971-01-25,516-450-2983,chan,2983,2426
5266,6267,Joshua Bell,201 Front Heberton Ave,"Staten Island, NY 10302",1941-03-04,315-326-2995,bell,2995,2355
5416,6417,Amber Dunn,2032 Shore Pkwy,"Brooklyn, NY 11214",1944-10-11,934-365-3326,dunn,3326,3866
6582,7583,Alexis Soto,807A E 78th St,"Brooklyn, NY 11236",1960-11-29,516-648-7478,soto,7478,7686
7657,8658,Dawn Reed,138A E 7th St,"Manhattan, NY 10009",1961-07-05,516-382-7678,reed,7678,7333
7934,8935,Amy Bell,74-77 88th Ave,"Woodhaven, NY 11421",1996-10-10,516-340-2372,bell,2372,2355
8132,9133,Richard Park,1178 Madison Ave,"Manhattan, NY 10028",1957-08-18,838-688-7358,park,7358,7275
8206,9207,Kathleen Boyd,247-18 S Conduit Ave,"Rosedale, NY 11422",1975-10-19,838-506-2987,boyd,2987,2693
8870,9871,Adrian Frye,141A Marcus Garvey Blvd,"Brooklyn, NY 11206",1980-09-19,212-694-3594,frye,3594,3793
8915,9916,James Wood,57-0 Roosevelt Ave,"Woodside, NY 11377",1990-01-23,315-260-9778,wood,9778,9663
9234,10235,Andrew Horn,266½ 22nd St,"Brooklyn, NY 11215",1976-12-18,516-988-4935,horn,4935,4676
9449,10450,Johnathan Reed III,308A New York Ave,"Brooklyn, NY 11225",1945-03-26,716-321-7499,reed,7499,7333
9723,10724,Michael King,2102 Clinton Ave,"Bronx, NY 10457",1978-02-04,838-629-5894,king,5894,5464
10123,11124,Jason Lara,132 W 136th St,"Manhattan, NY 10030",1990-10-30,315-603-5854,lara,5854,5272
10459,11460,Diamond Mayo,143-15 181st St,"Springfield Gardens, NY 11413",1963-01-23,914-222-6854,mayo,6854,6296
10627,11627,Whitney Huff,67½ Jane St,"Manhattan, NY 10014",1970-10-25,585-521-4979,huff,4979,4833

In [48]:
set("abcd")

{'a', 'b', 'c', 'd'}

In [50]:
"a" in "abcd"

True